@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Get Posted 🔥</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form action="/posting" method="post">
<label for="company">Company 🔪</label>
<input id="company" name="company" type="text">
<label for="title">Job Title 🖍</label>
<input id="title" name="title" type="text">
<label for="salary">Salary 🗿</label>
<input id="salary" name="salary" type="text">
<button type="submit">🚬</button>
</form>

